* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  width: 100%;
  display: block;
  height: auto;
}

/* Font */

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 55px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 50;
}

h3 {
  font-family: "Hubballi", cursive;
  font-weight: 400;
  font-size: 48px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
}
