:root {
  /* Farver */
  --brand-color: #7cc9e7;

  --surface-beige: #f4f0e4;
  --surface-white: #ffffff;
  --surface-dropdown: #fafafa;
  --surface-black: #000000;

  --text-black: #000000;
  --text-blue: #7cc9e7;
  --text-white: #ffffff;

  /* Typografi */
  --font-size-h1: 70px;
  --font-size-h2: 35px;
  --font-size-h3: 25px;
  --font-size-p: 17px;
  --font-size-dropdown: 13px;

  /* Line Height */
  --line-height-h3: 2ch;
  --line-height-p: 3.5ch;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  width: 100%;
  display: block;
  height: auto;
}

html {
  height: 100%;
  background-color: var(--surface-white);
}

body {
  height: 100%;
}

/* Font */

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--text-header);
  font-size: var(--font-size-h1);
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: var(--font-size-h2);
}

h3 {
  font-family: "Hubballi", cursive;
  font-weight: 400;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
}
