:root {
  /* Farver */
  --primary-color: #7cc9e7;
  --secondary-color: #f4f0e4;
  --background-color: #ffffff;

  --surface-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  width: 100%;
  display: block;
  height: auto;
}

/* Font */

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 70px;
  color: var(--text-header);
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 35px;
}

h3 {
  font-family: "Hubballi", cursive;
  font-weight: 400;
  font-size: 25px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
}
