h2{
  margin-top: 20px;
  text-align: center;
}
form {
  text-align: center;
  padding-bottom: 70px;
}

input {
  background-color: var(--surface-beige);
  border: none;
  padding: 10px;
  
}

input[type="submit"] {
  border: 1px solid var(--brand-color);
  background-color: white;
}

input[type="submit"]:hover {
  background-color: rgb(84, 191, 212);
  color: white;
}
#email{
  width:40%;
  margin-top: 20px;
}
#kommentar {
  width: 40%;
  height: 100px;
  padding: 12px 20px;
  resize: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#navn
{
  width: 20%;
}
#telefon{
  width: 20%;
}

@media (min-width: 700px) {
  .kontaktgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: auto;
    margin-block: 60px;
    width: 90%;
    place-content: center;
  }
}
