* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 90px;
  font-family: "Hubballi";
}

h3 {
  text-align: center;
  padding: 50px;
  font-size: 50px;
  font-family: "Hubballi";
}

form {
  text-align: center;
  padding-bottom: 130px;
}

input {
  background-color: rgb(251, 248, 233);
  border: none;
  padding: 10px;
  box-shadow: 2px 2px rgb(84, 191, 212);
}

input[type="submit"]:hover {
  background-color: rgb(84, 191, 212);
  color: white;
}

#kommentar {
  width: 60%;
  height: 150px;
  padding: 12px 20px;
  resize: none;
  margin-top: 20px;
}
