---
import Displaybillede from "../components/Displaybillede.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="src/styles/generel.css" />
    <link rel="stylesheet" href="src/styles/hjaelp.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <Header />
  <body>
    <Displaybillede baggrund="img/hjaelp/hjaelp.webp" text="VIGTIG VIDEN" />

    <h2>HVAD ER VANDFASTE SMYKKER?</h2>
    <div class="spg">
      <img src="img/hjaelp/asset.svg" alt="billede" />
    </div>
    <div class="grid1-1">
      <div>
        <p>
          At smykkerne er vandfaste betyder at du kan bære dem i vand uden nogle bekymringer. Det gælder altså både om du er i bad, en tur på stranden, eller oppe og træne i dit lokale fitnesscenter. Vores smykker holder altså farven og du vil ikke
          opleve at din hud bliver misfarvet eller at farven på smykket forsvinder. Grunden til at de kan holde til det hele er at de er fremstillet i rustfrit stål af kirurgisk kvalitet. Det rustfrie stål udgør basen af smykket, der herefter bliver
          belagt med 14K guld.
        </p>
      </div>
      <div>
        <p>
          Guldet påføres smykket under et elektrolytisk bad, der kemisk binder guldet direkte til stålet. Modsat traditionelle forgyldninger af sølvsmykker, er vores forgyldning påført at væsentligt stærkere metal - et matal der både er
          allergivenligt og fri for nikkel, og som besidder væsentligt mere råstyrke (en hårdhed der er mere end 3x gange så stor som sølv). Derfor udgør stålet de perfekte forhold, der er med til at guldet binder sig enormt stærkt til metallet - det
          er det rustfrie ståls råstyke og gode egenskaber som er med til at give vores smykker deres enormt lange levetid.
        </p>
      </div>
    </div>

    <section>
      <div class="hjaelpgrid">
        <div class="hjaelpimg">
          <img src="img/hjaelp/hjaelp2.webp" alt="billede" />
        </div>

        <div class="hjaelpimg">
          <img src="img/hjaelp/hjaelp3.webp" alt="billede" />
        </div>

        <div class="hjaelpimg">
          <img src="img/hjaelp/hjaelp4.jpeg" alt="billede" />
        </div>

        <div class="hjaelpimg">
          <img src="img/hjaelp/hjaelp5.webp" alt="billede" />
        </div>
      </div>
    </section>
    <h2 class="ringe_guide">STØRRELSESGUIDE TIL RINGE</h2>

    <div class="grid1-1-1">
      <div>
        <img class="tal" src="img/hjaelp/asset1.svg" alt="et" />
        <h3>FIND DIN EGEN RING</h3>
        <p>Find en ring der passer på den finger du ønsker din nye ring skal sidde på.</p>
      </div>

      <div>
        <img class="tal" src="img/hjaelp/asset2.svg" alt="to" />
        <h3>FIND ET MÅLEBÅND</h3>
        <p>Mål indersiden af din ring i diameter, og noter dig det præcise mål i millimeter.</p>
      </div>

      <div>
        <img class="tal" src="img/hjaelp/asset3.svg" alt="tre" />
        <h3>SAMMENLIGN MÅL</h3>
        <p>Sammenlign dine mål med nedenstående skema - ligger diameteren imellem to tal anbefaler vi at du runder op til nærmeste størrelse.</p>
      </div>
    </div>

    <img class="tabel" src="img/hjaelp/tabel.webp" alt="billede" />

    <div class="baggrund">
      <h2 class="halskaede_guide">STØRRELSESGUIDE TIL HALSKÆDER</h2>
      <div class="halskaedeguide">
        <img class="billedeguide" src="img/hjaelp/halskaedeguide.webp" alt="halskaedeguide" />
        <p>Er du i tvivl om hvilken længde du skal købe din halskæde i, så kan du finde svaret her. Billedet til venstre hjælper dig nemlig med visuelt at se hvor lange de forskellige halskæder er .</p>
      </div>
    </div>
    <Footer />
  </body>
</html>
