---
import Displaybillede from "../components/Displaybillede.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/generel.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>Khani</title>
  </head>
  <Header />
  <body>
    <Displaybillede baggrund="/img/hjaelp/hjaelp.webp" text="HJÆLP" />

    <h1>HVAD ER VANDFASTE SMYKKER?</h1>
    <div class="container">
      <div class="grid_1-1">
        <div>
          <p>At smykkerne er vandfaste betyder at du kan bære dem i vand uden nogle bekymringer. Det gælder altså både om du er i bad, en tur på stranden, eller oppe og træne i dit lokale fitnesscenter. Vores smykker holder altså farven og du vil ikke opleve at din hud bliver misfarvet eller at farven på smykket forsvinder. Grunden til at de kan holde til det hele er at de er fremstillet i rustfrit stål af kirurgisk kvalitet. Det rustfrie stål udgør basen af smykket, der herefter bliver belagt med 14K guld.</p>
        </div>
        <div>
          <p>Guldet påføres smykket under et elektrolytisk bad, der kemisk binder guldet direkte til stålet. Modsat traditionelle forgyldninger af sølvsmykker, er vores forgyldning påført at væsentligt stærkere metal - et matal der både er allergivenligt og fri for nikkel, og som besidder væsentligt mere råstyrke (en hårdhed der er mere end 3x gange så stor som sølv). Derfor udgør stålet de perfekte forhold, der er med til at guldet binder sig enormt stærkt til metallet - det er det rustfrie ståls råstyke og gode egenskaber som er med til at give vores smykker deres enormt lange levetid.</p>
        </div>
      </div>
    </div>
    <div class="grid_1-1-1-1">
      <img src="/img/hjaelp/hjaelp2.webp" alt="billede" />
      <img src="/img/hjaelp/hjaelp3.webp" alt="billede" />
      <img src="/img/hjaelp/hjaelp4.jpeg" alt="billede" />
      <img src="/img/hjaelp/hjaelp5.webp" alt="billede" />
    </div>

    <h2>STØRRELSESGUIDE TIL RINGE</h2>
    <div class="grid_1-1-1">
      <div class="flex_1-1">
        <div class="pointer">1</div>
        <div class="col-80">
          <h3>FIND DIN EGEN RING</h3>
          <p>Find en ring der passer på den finger du ønsker din nye ring skal sidde på.</p>
        </div>
      </div>

      <div class="flex_1-1">
        <div class="pointer">2</div>
        <div class="col-80">
          <h3>FIND ET MÅLEBÅND</h3>
          <p>Mål indersiden af din ring i diameter, og noter dig det præcise mål i millimeter.</p>
        </div>
      </div>

      <div class="flex_1-1">
        <div class="pointer">3</div>
        <div class="col-80">
          <h3>SAMMENLIGN MÅL</h3>
          <p>Sammenlign dine mål med nedenstående skema - ligger diameteren imellem to tal anbefaler vi at du runder op til nærmeste størrelse.</p>
        </div>
      </div>
    </div>

    <img class="tabel" src="/img/hjaelp/tabel.webp" alt="billede" />

    <div class="baggrund">
      <h2>STØRRELSESGUIDE TIL HALSKÆDER</h2>
      <div class="halskaede_grid">
        <img src="/img/hjaelp/halskaedeguide.webp" alt="halskaedeguide" />
        <p class="halskaede-info">Er du i tvivl om hvilken længde du skal købe din halskæde i, så kan du finde svaret her. Billedet hjælper dig nemlig med visuelt at se hvor lange de forskellige halskæder er - målt i centimeter.</p>
      </div>
    </div>
    <Footer />
  </body>
  <style>
    h1 {
      text-align: left;
      margin: 70px 0px 70px 140px;
    }

    h2 {
      text-align: center;
    }

    h3 {
      line-height: 4ch;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-weight: var(--font-weight-400);
      font-size: var(--font-size-p);
      line-height: var(--line-height-p);
      max-width: 60ch;
    }

    .flex_1-1 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    .pointer {
      width: 20%;
      font-size: 5rem;
      color: #d7edf8;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      text-align: center;
    }

    .col-80 {
      width: 80%;
    }

    .tabel {
      max-width: 80%;
      margin: auto;
      margin-bottom: 70px;
    }

    .baggrund {
      background-color: #f4f0e4;
      padding-top: 70px;
    }

    .halskaede_grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin: 70px 140px 70px 140px;
      column-gap: 50px;
      padding-bottom: 70px;
    }

    .halskaede-info {
      margin: auto;
      font-size: 18px;
      max-width: 50ch;
    }

    .grid_1-1-1-1 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 40px 140px 70px 140px;
      column-gap: 35px;
    }

    @media (min-width: 1200px) {
      .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0px 140px 70px 140px;
        column-gap: 70px;
      }

      .grid_1-1-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 60px 70px 40px 70px;
        column-gap: 50px;
      }
    }

    @media (max-width: 1200px) {
      .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 100px 50px 100px;
        row-gap: 30px;
      }

      h1 {
        margin: 50px 100px;
        font-size: 2.2rem;
      }

      .flex_1-1 {
        margin: 35px 70px;
      }

      .halskaede_grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 50px 100px;
        column-gap: 50px;
      }

      .halskaede-info {
        margin: auto;
        font-size: 0.9rem;
        max-width: 50ch;
      }

      .baggrund {
        padding-top: 50px;
      }

      .grid_1-1-1-1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 40px 100px 50px 100px;
        column-gap: 35px;
      }

      .tabel {
        margin-bottom: 50px;
      }
    }

    @media (max-width: 800px) {
      .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 30px 10px 30px;
        row-gap: 30px;
      }

      h1 {
        text-align: center;
        margin: 30px;
        font-size: 2.3rem;
        line-height: 2.5ch;
      }

      h2 {
        font-size: 1.9rem;
        padding: 0px 30px 10px 30px;
      }

      .grid_1-1-1-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 0px 50px 0px;
        gap: 15px;
        padding: 30px 30px 0px 30px;
      }

      .flex_1-1 {
        margin: 30px;
      }

      .tabel {
        max-width: 90%;
        margin-bottom: 60px;
      }

      .halskaede_grid {
        display: grid;
        grid-template-columns: 1fr;
        margin: 30px;
        row-gap: 30px;
        padding-bottom: 30px;
      }

      .halskaede-info {
        margin: auto;
        font-size: 11pt;
        max-width: 50ch;
        order: -1;
      }

      .baggrund {
        padding-top: 50px;
      }
    }

    @media (min-width: 800px) {
    }
  </style>
</html>
