---
import Displaybillede from "../components/Displaybillede.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <Header />
  <body>
    <Displaybillede baggrund="img/hjaelp/hjaelp.webp" text="VIGTIG VIDEN" />

    <h1>HVAD ER VANDFASTE SMYKKER?</h1>

    <div class="grid_hjaelp">
      <p class="vandfast">
        At smykkerne er vandfaste betyder at du kan bære dem i vand uden nogle bekymringer. Det gælder altså både om du er i bad, en tur på stranden, eller oppe og træne i dit lokale fitnesscenter. Vores smykker holder altså farven og du vil ikke
        opleve at din hud bliver misfarvet eller at farven på smykket forsvinder. Grunden til at de kan holde til det hele er at de er fremstillet i rustfrit stål af kirurgisk kvalitet. Det rustfrie stål udgør basen af smykket, der herefter bliver
        belagt med 14K guld.
      </p>

      <p class="">
        Guldet påføres smykket under et elektrolytisk bad, der kemisk binder guldet direkte til stålet. Modsat traditionelle forgyldninger af sølvsmykker, er vores forgyldning påført at væsentligt stærkere metal - et matal der både er allergivenligt
        og fri for nikkel, og som besidder væsentligt mere råstyrke (en hårdhed der er mere end 3x gange så stor som sølv). Derfor udgør stålet de perfekte forhold, der er med til at guldet binder sig enormt stærkt til metallet - det er det rustfrie
        ståls råstyke og gode egenskaber som er med til at give vores smykker deres enormt lange levetid.
      </p>
    </div>
  </body>
</html>
