---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
import Category from "../components/Category.astro";
import Gaveide from "../components/Gaveide.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/generel.css" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <Header />
  <body>
    <div class="margin">
      <h1>Khani smykker</h1>
      <h2 style="text-align: center; margin-bottom: 30px;">Find dine vandfaste smykker her</h2>
      <Button variant="secondary" size="large" placement="index"><a href="#" style="color: var(--text-blue)">SHOP</a></Button>
    </div>
    <Category />
    <Gaveide />
    <Footer />
  </body>

  <style>
    a {
      list-style-type: none;
      text-decoration: none;
      color: var(--text-white);
      font-family: "Hubballi", cursive;
    }

    .margin {
      margin: 0px 0px 50px 0px;
    }
  </style>
</html>
