---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Kategori1 from "../components/Kategori1.astro";
import Gaveinspo from "../components/Gaveinspo.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/generel.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet" />
    <title>Khani</title>
  </head>
  <Header />
  <body>
    <h1>KATEGORIER</h1>
    <Kategori1 />
    <Gaveinspo />
    <Footer />
  </body>

  <style>
    h1 {
      margin-bottom: 70px;
    }

    @media (max-width: 1200px) {
      h1 {
        font-size: 2.2rem;
        padding: 30px 30px 10px 30px;
      }

      h2 {
        font-size: 1.7rem;
      }
      h3 {
        font-size: 1.4rem;
        padding-top: 15px;
      }

      .margin {
        margin: 0px 0px 50px 0px;
      }
    }

    @media (max-width: 800px) {
      h1 {
        font-size: 2.3rem;
        margin-bottom: 60px;
      }

      h2 {
        font-size: 1.9rem;
        padding: 0px 30px 10px 30px;
      }
      h3 {
        font-size: 1.5rem;
        padding-top: 15px;
      }
    }
  </style>
</html>
