---
import Displaybillede from "../components/Displaybillede.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="src/styles/kontakt.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <Header />
  <body>
    <Displaybillede baggrund="img/kontakt/kontakt.webp" text="KONTAKT" />
    <img src="" alt="" />
    <h1 class="centered">KONTAKT</h1>
    <img class="baggrund" src="img/kontakt/kontakt.webp" alt="kontakt" />

    <h3>SKRIV TIL OS!</h3>

    <div class="form">
      <form>
        <input type="text" id="navn" placeholder="NAVN" />
        <input type="text" id="telefon" placeholder="TELEFON" />
        <input type="text" id="email" placeholder="EMAIL" />
        <input type="text" id="kommentar" placeholder="KOMMENTAR" />
        <input type="submit" value="SUBMIT" />
      </form>
    </div>

    <section>
      <div class="kontaktgrid">
        <div class="shadow">
          <img src="img/kontakt/kontakt1.webp" alt="billede" />
        </div>

        <div class="shadow">
          <img src="img/kontakt/kontakt2.webp" alt="billede" />
        </div>

        <div class="shadow">
          <img src="img/kontakt/kontakt3.webp" alt="billede" />
        </div>

        <div class="shadow">
          <img src="img/kontakt/kontakt4.webp" alt="billede" />
        </div>
      </div>
    </section>
  </body>
</html>
