---
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <Header />
  <body>
    <h1>KONTAKT</h1>
    <h3>SKRIV TIL OS!</h3>

    <div class="form">
      <form>
        <input type="text" id="navn" placeholder="NAVN" />
        <input type="text" id="telefon" placeholder="TELEFON" />
        <input type="text" id="email" placeholder="EMAIL" />
        <input type="text" id="kommentar" placeholder="KOMMENTAR" />

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>

  <style>
    h1,
    h3 {
      text-align: center;
    }
    form {
      text-align: center;
    }

    input {
      background-color: rgb(251, 246, 222);
      border: 1px solid rgb(84, 191, 212);
      padding: 10px;
    }
    #kommentar {
      width: 60%;
      height: 150px;
      padding: 12px 20px;
      resize: none;
      margin-top: 20px;
    }
  </style>
</html>
