---
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="src/styles/omos.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Header/>
	<body>

		<div class="stortbillede">
			<img src="img/omos/omos.webp" alt="OM OS">
			<div class="text-overlay">
			  OM OS
			</div>


		<img src="img/omos/omos.webp" alt="billede">
		<h1>HVEM ER KHANI?</h1>
		<p>Khani blev grundlagt i 2022 af Thea Salmony og Christian Rydahl. Fra Khanis begyndelse har vi skabt vores eget brand, hvor vi udelukkende sælger vandfaste smykker for alle - og til alle. Vores design drager inspiration fra Grækenland, sol og sommer, hvilket afspejler sig i smykkernes udseende og navne.</p>
	</body>
</html>

