---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/styles/generel.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>

  <Header />
  <body>
    <div class="grid_1-1">
      <div>
        <img src="/img/Medusashop.webp" alt="Billede" />
      </div>
      <div>
        <h2>MEDUSA</h2>
        <h3 class="info">Sølv halskæde</h3>
        <p class="price">139,-</p>
        <div class="container">
          <h3>Farve:</h3>
          <input type="text" id="farve" placeholder="SØLV" />
          <h3>Antal:</h3>
          <input type="text" id="antal" placeholder="1" />
        </div>
        <div class="containerbtn">
          <Button variant="tertiary" size="small" placement="shop"><a href="#" style="color: var(--text-black)">TILFØJ TIL KURV</a></Button>
        </div>
      </div>
    </div>
    <div class="grid_1-1">
      <div class="container_1-1">
        <img src="/img/medusa2.webp" alt="billede" />
        <img class="billede4" src="/img/medusa3.webp" alt="billede" />
      </div>
      <div>
        <ul>
          <li><p>Udført i rustfrit stål af kirurgisk kvalitet</p></li>
          <li><p>Vandfast - tåler havet, poolen og bruseren</p></li>
          <li><p>Ingen grønne misfarvninger på huden</p></li>
          <li><p>Rustfrie og allergivenlige smykker</p></li>
          <li><p>Guld: Guldbelagt i en kvalitet på hele 14K (karat)</p></li>
        </ul>
      </div>
    </div>
  </body>

  <style>
    input {
      background-color: var(--surface-beige);
      border: none;
      padding: 10px 60px 10px 10px;
    }

    /*
      .grid_1-1 {
        display: grid;
        margin: 70px 140px 70px 140px;
        grid-template-columns: auto auto;
      }
      .grid_2-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
       */

    .billede3 {
      max-width: 100px;
    }
    .billede4 {
      max-width: 100px;
    }

    /*
      @media (min-width: 500px) {
        .grid_1-1 {
          margin: 70px 140px 70px 140px;
          grid-template-columns: auto auto;
        }
        .grid_2-2 {
          margin: ;
        }

       */

    @media (min-width: 1000px) {
      .grid_1-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 140px 0px 140px;
        column-gap: 60px;
      }
    }

    .container_1-1 {
      display: flex;
    }

    h2 {
      font-size: var(--font-size-h1);
      line-height: 3ch;
      margin-top: 20px;
    }

    h3 {
      font-size: 24px;
    }

    .info {
      color: #b5b5b5;
      line-height: 2ch;
    }

    .price {
      font-size: 26px;
      line-height: 4ch;
      font-weight: var(--font-weight-500);
    }

    .container {
      margin: 35px 0px 25px 0px;
    }

    .containerbtn {
      margin: 35px 0px 0px 0px;
    }

    h3 {
      line-height: 4ch;
    }

    .billede {
      margin-right: 30px;
    }

    p {
      line-height: 5ch;
    }

    ul {
      margin-top: 40px;
      margin-left: 15px;
    }
  </style>
</html>
