---
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, Opdag en fantastisk kollektion af vandtætte smykker hos Khani Smykker. Find dine foretrukne vandfaste smykker her, herunder de mest populære som XENA guld, ALYSIDA guld, ANKYRA sølv og AGETHE guld, alle til overkommelige priser." />
    <link rel="stylesheet" href="/styles/generel.css" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet" />
    <title>Khani</title>
  </head>
  <Header />
  <body>
    <h2>video her</h2>
    <h3>Mest populære</h3>
  </body>
</html>
