---
const { id, NAME, KATEGORI, FARVE, IMG, PRIS } = Astro.props;
---

<article>
  <figure class="container1">
    <p class="farve">{FARVE}</p>
    <img src="img/accelerationism.webp" alt="" height="250" width="250" />
    <div class="navn">{NAME}</div>
    <p class="kategori">{KATEGORI}</p>
    <p class="pris">{PRIS}</p>
  </figure>
</article>

<style>


    
</style>