---
const { id, NAME, IMG, PRIS } = Astro.props;
---

<article>
  <figure class="container1">
    <img src={`/img/${IMG}`} alt="" height="250" width="250" />
    <p class="navn">{NAME}</p>
    <p class="pris" style="line-height: var(--line-height-shop);">{PRIS}</p>
  </figure>
</article>

<style>
  .container1:hover {
    transform: scale(1.05);
    color: var(--brand-color);
    transition: 0.3s;
    image-resolution: ;
  }
</style>
