---
const { id, NAME, IMG, PRIS } = Astro.props;
---

<article>
  <figure class="container1">
    <img src={`/img/${IMG}`} alt="" height="250" width="250"/>
    <h3 class="navn">{NAME}</h3>
    <p class="pris">{PRIS}</p>
  </figure>
</article>

<style>


</style>