---
const { id, NAME, IMG, PRIS } = Astro.props;
---

<article>
  <figure class="container1">
    <img src={`/img/${IMG}`} alt="" height="250" width="250"/>
    <h3 class="navn">{NAME}</h3>
    <p class="pris">{PRIS}</p>
  </figure>
</article>

<style>
   .container1:hover {
    transform: scale(1.05);
    color: var(--brand-color);
    transition: 0.3s;
    image-resolution: ;
  }

  p{
  font-family: "Hubballi", cursive;
  font-weight: 400;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  }


</style>