---
const { id, NAME, IMG, PRIS } = Astro.props;
---

<article>
  <figure class="container1">
    <a href="/produktside"><img src={`/img/${IMG}`} alt="" height="250" width="250" /></a>
    <h3 class="navn">{NAME}</h3>
    <p class="pris">{PRIS}</p>
  </figure>
</article>

<style>
  .container1:hover {
    transform: scale(1.05);
    color: var(--brand-color);
    transition: 0.3s;
    image-resolution: ;
  }

  h3 {
    font-size: 1.3rem;
    margin-top: 5px;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
  }
</style>
