<button id="burger-menu">
  <span></span>
</button>

<div class="hide">
  <a href="/index"><img src="/img/Logo.svg" alt="logo" /></a>
  <nav id="menu">
    <ul>
      <li><a href="/index.html">KHANI FORSIDE</a></li>
      <li><a href="/allesmykker">SHOP</a></li>
      <li><a href="/hjaelp">HJÆLP</a></li>
      <li><a href="/omos">OM OS</a></li>
      <li><a href="/kontakt">KONTAKT</a></li>
    </ul>
  </nav>
</div>
<script>

const burgerMenu = document.querySelector("#burger-menu");
const menu = document.querySelector("#menu");

burgerMenu.addEventListener("click", function () {
  burgerMenu.classList.toggle("close");
  menu.classList.toggle("overlay");
});

</script>

<style>


  @media screen and (min-width: 800px) {
    .hide {
      display: none;
    }
  }

  @media screen and (max-width: 800px) {
    #burger-menu {
      text-indent: -9999px;
      display: none;
      border: none;
      background: transparent;
      cursor: pointer;
      height: 100px;
      width: 27px;
      position: relative;
      z-index: 2;
      margin: auto;
      max-width: 480px;
    }

    #burger-menu {
      display: block;
      float: right;
      left: -20px;
      top: 20px;
    }

    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: #333;
      display: block;
      height: 3px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
    }
    #burger-menu span:before {
      left: 0px;
      top: -10px;
      width: 27px;
    }
    #burger-menu span {
      right: 0px;
      top: 13px;
      width: 27px;
    }
    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 27px;
    }
    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background: #fff;
    }
    #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
      background: #fff;
    }
    #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
      background: #fff;
    }
    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
    }
    #menu.overlay {
      visibility: visible;
      opacity: 2;
      padding-top: 100px;
      background: rgba(0, 0, 0, 0.8);
    }
    #menu ul {
      padding: 0;
    }
    #menu li {
      list-style: none;
      display: initial;
    }
    #menu a {
      color: #fff;
      display: block;
      font-size: 32px;
      margin-bottom: 30px;
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
    }
    img {
      display: flex;
      width: 150px;
      align-items: center;
      margin: 0 auto;
      padding-top: 20px;
    }
  }
</style>
