---
const { baggrund, text } = Astro.props;
---

<div class="container">
  <img class="billede" src={baggrund} alt="" />
  <h1 class="text-center">{text}</h1>
</div>

<style>
  .container {
    position: relative;
    text-align: center;
  }
  .text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .billede {
    width: 100%;
    display: block;
  }

  h1 {
    color: var(--text-white);
    font-size: var(--font-size-display);
  }
</style>
