---
import Button from "../components/Button.astro";
---

<div class="grid_1-1">
  <div>
    <h2>GAVEIDÈER</h2>
    <p>Hvor finder jeg den perfekte gave til konfirmation, studentergilde eller måske mors dag? Det kan vi heldigvis hjælpe dig med lige her!</p><br />
    <p style="margin-bottom: 30px;">Du er måske ude i sidste øjeblik, og anledningen nærmer sig med hastige skridt? Bare rolig, vi har alle været der, og du er havnet det helt rigtige sted. Her har vi nemlig samlet vores bud på gaver, du kan give til de en, du holder af.</p><br />
    <Button variant="quaternary" size="medium" placement="giftidea"><a href="/allesmykker.html" class="btn centeredButton">SHOP GAVEIDÈER</a></Button><br />
  </div>
  <div class="order">
    <img src="img/forside/forside_gaveide.webp" alt="" />
  </div>
</div>

<style>
  @media (min-width: 1200px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: auto auto;
      background-color: var(--surface-beige);
      padding: 70px 140px 70px 140px;
      column-gap: 20px;
    }

    p {
      max-width: 60ch;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      box-sizing: border-box;
    }
  }

  @media (max-width: 1200px) {
    .grid_1-1 {
      display: grid;
      background-color: var(--surface-beige);
      padding: 35px 80px 50px 80px;
      row-gap: 20px;
    }

    .order {
      order: -1;
    }

    img {
      margin-top: 35px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
    }

    body {
      text-align: center;
    }
  }

  @media only screen and (max-width: 800px) {
    .centeredButton {
      text-align: center;
    }
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: var(--line-height-p);
  }

  h2 {
    margin: 30px 0px 30px 0px;
  }

  .btn {
    color: var(--text-black);
  }

  @media (max-width: 600px) {
    img {
      margin-top: 35px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
</style>
