---
import Button from "../components/Button.astro";
---

<div class="grid_1-1">
  <div>
    <h2>GAVEIDÈER</h2>
    <p>Hvor finder jeg den perfekte gave til konfirmation, studentergilde eller måske mors dag? Det kan vi heldigvis hjælpe dig med lige her!</p><br />
    <p style="margin-bottom: 30px;">Du er måske ude i sidste øjeblik, og anledningen nærmer sig med hastige skridt? Bare rolig, vi har alle været der, og du er havnet det helt rigtige sted. Her har vi nemlig samlet vores bud på gaver, du kan give til de en, du holder af.</p><br />
    <Button variant="quaternary" size="medium" placement="giftidea"><a href="/allesmykker" class="btn centeredButton">SHOP GAVEIDÈER</a></Button><br />
  </div>
  <div class="order">
    <img src="img/forside/forside_gaveide.webp" alt="" />
  </div>
</div>

<style>
  p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: var(--line-height-p);
  }

  h2 {
    margin-bottom: 30px;
  }

  .btn {
    color: var(--text-black);
  }

  @media (min-width: 1200px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: var(--surface-beige);
      padding: 70px 140px 70px 140px;
      column-gap: 70px;
    }

    p {
      max-width: 60ch;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      box-sizing: border-box;
    }
  }

  @media (max-width: 1200px) {
    .grid_1-1 {
      display: grid;
      background-color: var(--surface-beige);
      padding: 50px 100px;
      row-gap: 30px;
    }

    .order {
      order: -1;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    body {
      text-align: center;
    }

    p {
      text-align: left;
      max-width: 60ch;
      margin: auto;
    }

    h2 {
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width: 800px) {
    .centeredButton {
      text-align: center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .grid_1-1 {
      display: grid;
      background-color: var(--surface-beige);
      padding: 60px 30px;
    }

    h2 {
      margin: 10px 0px 20px 0px;
      font-size: 1.9rem;
    }
  }
</style>
