<div class="baggrund">
    <h2>GAVEINSPIRATION</h2>
<div class="grid_1-1">
<div>
<p>Hvor finder jeg den perfekte til konfirmation, studenterguilde eller måske mors dag?
 Det kan vi heldigvis hjælpe dig med lige her! Du er måske ude i sidste øjeblik,
og anledningen nærmer sig med hastige skridt? Bare rolig, vi har alle været der,
og du er havnet det helt rigtige sted. Her har vi nemlig samlet vores bud på gaver,
du kan give til de en, du holder af.
</p></div>
<div><p> Du kan blandt andet finde den perfekte gave til studinen, konfirmanden eller gaver til under 200 kroner.
 Derudover sælger vi også gavekort, hvis det er lidt svært at vælge. Du kan finde inspiration lige herunder. 
Vi har mere end 100 forskellige smykker, så der er noget til enhver smag! Vi tilbyder også indpakning af gaver ved kassen.
 Tjek det ud!
</p></div>
</div>

<div class="flex_1-1-1">
    <div class="container">
      <img src="/img/shop/gave1.webp" alt="billede" />
      <a href="/allesmykker.html" class="btn cta">Gavekort</a>
      
    </div>
    <div class="container">
      <img src="/img/shop/øreringe2.webp" alt="billede" />
      <a href="/allesmykker.html" class="btn cta">Student</a>
    
    </div>
    <div class="container">
      <img src="/img/shop/ring45.webp" alt="billede" />
      <a href="/allesmykker.html" class="btn cta">Fødeselsdag</a>
    </div>
  </div>
</div>



<style>
.baggrund{
    background-color: var(--surface-beige);
}
 h2{
    margin-left: 100px;
    padding-top: 50px;
 }

  .grid_1-1 {
    margin: 50px 50px 50px 50px;
    grid-template-columns: auto auto;
  }

  p {
    margin: 0px 50px 20px 0px;
    line-height: 3.5ch;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .container img {
    width: 100%;
    height: auto;

  }

  .container .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cta {
    color: var(--surface-white);
    border: solid var(--surface-white) 0.1rem;
    text-transform: uppercase;
    background: none;
    font-family: "Hubballi", cursive;
    font-size: 22px;
    padding-block: 0.6rem;
    padding-inline: 3rem;
  }

  .cta:hover {
    scale: 1.01;
  }
 
  @media (min-width: 500px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      margin: 120px 100px 120px 100px;
    }
    p {
      margin: 0px 50px 90px 0px;
      line-height: var(--line-height-p);
    }
  }


  @media (min-width: 1000px) {
    .flex_1-1-1 {
      display: flex;
      flex-direction: row;
      column-gap: 50px;
      margin: 70px 140px 70px 140px;
    }
  }

  @media (max-width: 1000px) {
    .flex_1-1-1 {
      display: flex;
      flex-direction: row;
      gap: 50px;
      margin: 65px 70px 45px 70px;
    }
  }

  @media (max-width: 800px) {
    .flex_1-1-1 {
      flex-direction: column;
      margin: 70px 70px 50px 70px;
      gap: 20px;
    }
  }
</style>

</style>