<header>
  <div class="hide">
    <a href="/index.html"><img class="logo" src="/img/Logo.svg" alt="billede" /></a>
  </div>
  <nav class="hide">
    <ul>
      <li class="dropdown">
        <button class="dropbtn"><a href="/kategorier">SHOP<i></i></a></button>
        <div class="dropdown-content">
          <a href="/allesmykker">Alle smykker</a>
          <a href="/halskæder">Halskæder</a>
          <a href="">Armbånd</a>
          <a href="">Ringe</a>
          <a href="">Øreringe</a>
          <a href="">Ankelkæder</a>
        </div>
     <div>
      </li>
      <li><a href="/hjaelp">HJÆLP</a></li>
      <li><a href="/omos">OM OS</a></li>
      <li><a href="/kontakt">KONTAKT</a></li>
      </div>
      </ul>
  </nav>
   <div class="icon">
        <i class='fas fa-search' style='font-size:24px;color:#7cc9e7'></i>
        <i class='fas fa-shopping-cart' style='font-size:24px;color:#7cc9e7'></i>
    </div>
</header>
<script src='/https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<style>
  @media screen and (max-width: 800px) {
    .hide {
      display: none;
    }
  }
  header {
    position: sticky;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    padding: 30px 100px 30px 70px;
    align-items: center;
    white-space: nowrap;
  }

  .logo {
    max-width: 350px;
    display: flex;
    align-content: center;
    height: 5rem;
    order: 3;
  }

  .icon {
    display: flex;
    gap: 0.7rem;
  }

  nav ul a {
    text-decoration: none;
    color: var(--text-black);
    font-size: large;
    list-style-type: none;
  }
  ul {
    text-align: center;
    list-style: none;
    display: flex;
    gap: 4rem;
    align-items: baseline;
    font-size: var(--font-size-dropdown);
  }

  header li a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: var(--font-size-dropdown)
    text-transform: uppercase;
  }

  header a:hover {
    color: var(--text-blue);
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: var(--font-size-dropdown);
    border: none;
    outline: none;
    background-color: inherit;
    text-transform: uppercase;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--surface-white);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: var(--text-black);
    padding: 10px 50px 10px 20px;
    font-size: var(--font-size-dropdown);
    font-weight: 400;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: var(--surface-dropdown);
    color: var(--text-blue);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
