<h3>Find din inspiration på vores Instagram:</h3>

<div class="grid_1-1-1-1">
  <div class="instagram-link"><a href="https://www.instagram.com/khanismykker/"><img src="img/forside/insta1.webp" alt="billede" /></a></div>
  <div class="instagram-link"><a href="https://www.instagram.com/khanismykker/"><img src="img/forside/insta2.webp" alt="billede" /></a></div>
  <div class="instagram-link"><a href="https://www.instagram.com/khanismykker/"><img src="img/forside/insta3.webp" alt="billede" /></a></div>
  <div class="instagram-link"><a href="https://www.instagram.com/khanismykker/"><img src="img/forside/insta4.webp" alt="billede" /></a></div>
</div>

<style>
  h3 {
    color: var(--text-blue);
    text-align: center;
    margin-top: 50px;
  }

  @media (min-width: 600px) {
    .grid_1-1-1-1 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 50px 0px 0px 0px;
    }
  }

  @media (max-width: 600px) {
    .grid_1-1-1-1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      padding: 30px 30px 0px 30px;
    }

    h3 {
      color: var(--text-blue);
      text-align: center;
      margin-top: 40px;
      font-size: 1.5rem;
      padding: 10px 30px;
    }
  }
</style>
