---
const { text } = Astro.props;
---

<div class="grid_1-1">
  <div>
    <h1>HVEM ER KHANI?</h1>
    <p>Khani blev grundlagt i 2022 af Thea Salmony og Christian Rydahl. Fra Khanis begyndelse har vi skabt vores eget brand, hvor vi udelukkende sælger vandfaste smykker for alle - og til alle. Vores design drager inspiration fra Grækenland, sol og sommer, hvilket afspejler sig i smykkernes udseende og navne.</p>
  </div>
  <div class="video-container">
    <div class="container">
      <iframe width="560" height="315" class="responsive-iframe" src="https://www.youtube.com/embed/2uz2AtrUJdE?controls=0&loop=1&autoplay=1&mute=1&playlist=2uz2AtrUJdE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>

<style>
  h1 {
    text-align: left;
  }

  p {
    line-height: 3.5ch;
    max-width: 60ch;
  }
  .container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  @media (min-width: 1200px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 120px 140px 70px 140px;
      column-gap: 70px;
    }

    p {
      margin-top: 20px;
    }
  }

  @media (max-width: 1200px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr;
      margin: 70px 140px 0px 100px;
      row-gap: 50px;
    }

    p {
      margin-top: 20px;
    }
  }

  @media (max-width: 1000px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr;
      margin: 30px;
      row-gap: 30px;
    }

    p {
      margin-top: 20px;
    }

    h1 {
      font-size: var(--font-size-h2);
    }
  }
</style>
