---
const { text } = Astro.props;
---

<div class="grid_1-1">
  <div>
    <h2>HVEM ER KHANI?</h2>
    <p>Khani blev grundlagt i 2022 af Thea Salmony og Christian Rydahl. Fra Khanis begyndelse har vi skabt vores eget brand, hvor vi udelukkende sælger vandfaste smykker for alle - og til alle. Vores design drager inspiration fra Grækenland, sol og sommer, hvilket afspejler sig i smykkernes udseende og navne.</p>
  </div>
  <div>
    <img src="img/XENA.webp" alt="" />
  </div>
</div>

<style>
  .grid_1-1 {
    margin: 50px 50px 50px 50px;
    grid-template-columns: auto auto;
  }

  p {
    margin: 20px 50px 20px 0px;
    line-height: 3.5ch;
  }

  @media (min-width: 500px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      margin: 120px 100px 120px 100px;
    }
    p {
      margin: 50px 50px 90px 0px;
      line-height: var(--line-height-p);
    }
  }
</style>
