<section>
  <ul class="grid-container">
    <slot />
  </ul>
</section>

<style>
  section {
    display: grid;
    grid-auto-rows: min-content;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 40px;
    row-gap: 40px;
    margin: 0px 140px;
  }

  @media (max-width: 1000px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat (2, fr);
      margin: 0px 70px;
    }
  }

  @media (max-width: 800px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0px 70px;
    }
  }
  ul[class] {
    list-style: none;
  }
</style>
