<section>
  <ul class="grid-container">
    <slot />
  </ul>
</section>

<style>
  section {
    display: grid;
    grid-auto-rows: min-content;
    background-color: var(--surface-beige);
  }

  @media (min-width: 1200px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 40px;
      row-gap: 40px;
      padding: 25px 140px 60px 140px;
      background-color: var(--surface-beige);
    }
  }

  @media (max-width: 1200px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 35px 70px;
      column-gap: 35px;
      background-color: var(--surface-beige);
    }
  }

  @media (max-width: 800px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 35px;
      padding: 20px 35px 35px 35px;
    }
  }

  ul[class] {
    list-style: none;
  }
</style>
