:root {
  /* Farver */
  --brand-color: #7cc9e7;

  --surface-beige: #f4f0e4;
  --surface-white: #ffffff;
  --surface-dropdown: #fafafa;
  --surface-black: #000000;

  --text-black: #000000;
  --text-blue: #7cc9e7;
  --text-white: #ffffff;

  /* Typografi */
  --font-size-display: 55px;
  --font-size-h1: 40px;
  --font-size-h2: 33px;
  --font-size-h3: 28px;
  --font-size-p: 11pt;
  --font-size-dropdown: 13px;
  --font-size-footer: 13px;

  /* Font-weight */
  --font-weight-700: 700;
  --font-weight-600: 600;
  --font-weight-500: 500;
  --font-weight-400: 400;

  /* Line Height */
  --line-height-h1: 3.5ch;
  --line-height-h2: 3ch;
  --line-height-h3: 2.5ch;
  --line-height-p: 3.5ch;
  --line-height-shop: 1.5ch;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img,
video {
  width: 100%;
  display: block;
  height: auto;
}

html {
  height: 100%;
  background-color: var(--surface-white);
}

body {
  height: 100%;
}

/* Font */

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-600);
  text-transform: uppercase;
  line-height: var(--line-height-h1);
  text-align: center;
  color: var(--text-blue);
}

h2 {
  font-family: "Hubballi", cursive;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  text-transform: uppercase;
}

h3 {
  font-family: "Hubballi", cursive;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-h3);
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p);
}

a {
  text-decoration: none;
  list-style-type: none;
}
