h2 {
  color: var(--text-blue);
  text-align: center;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: var(--text-white);
  font-family: "Hubballi", cursive;
}
